body {
  font-family: 'Comfortaa', sans-serif;
  background-color: #d5d2cc;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  /* Change to column layout for mobile */
  min-height: 100vh;
  font-weight: 300; /* light */
}

h2 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 20px;
  font-weight: 300; /*light*/
  color: #5a5a5a;
  text-align: center;
  margin-top: 0px;
  margin: 10px;
}

#titleImage {
  width: 90%; /* Scales with the screen size */
  max-width: 400px;
  margin-top: 20px;
}

#yourTable {
  width: 80%; /* Makes the image span the full width of the container */
  max-width: 500px; /* Adjusts the max width for larger screens */
  display: block; /* Ensures it is treated as a block-level element */
  margin: 0 auto 20px auto; /* Center the image and add space below it */
}



.step {
  margin-bottom: 150px;
}


.hidden {
  display: none;
}


/* Style for the cake container to position elements inside */
.cake-container {
  position: relative;  /* Allows absolute positioning of child elements */
  width: 80%; /* Make the cake responsive */
  margin: 0 auto;      /* Center the cake on the page */
  padding-top: 0;      /* Remove any padding above the cake */
}

/* Style for the cake image */
.cake {
  width: 100%;         /* Make the cake image take up the full container width */
  height: auto;        /* Maintain aspect ratio */
  margin: 0; 
}

/* Style for the toppers (bride and groom) */
.toppers {
  position: absolute;
  top: 30px;          /* Tweak the toppers up/down to sit on the cake */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0px;           /* Space between the bride and groom toppers */
  align-items: baseline;
}

/* Individual topper styles */
.topper {
  max-width: 100px;
  height: 170px;
  cursor: pointer;
  border-radius: 0;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.topper:hover {
  border-color: #008CBA;
}

#map {
  width: 450px;   /* Adjust the width to make the map smaller */
  height: auto;   /* Maintain aspect ratio */
  display: block; /* Ensure it's displayed as a block element */
  margin: 0 auto; /* Center the map */
}

#tableNumber {
  font-family: 'Comfortaa', sans-serif;  /* Change to your preferred font */
  font-size: 20px;
  font-weight: 300; /*light*/
  color: #5a5a5a;
  text-align: center; /* Center align the text */
  margin-top: 10px; /* Add spacing if needed */
}
